:host {
  position: fixed;
  right: 0;
  z-index: 10;
}

header {
  justify-content: flex-end;
  padding: 16px;
  width: auto;
  height: auto;
  border-bottom-left-radius: 16px;
  background-color: var(--primary-color);

  .fav-ico {
    color: #F2557A;
  }

  .cart-ico {
    margin-right: 16px;
    color: #06D6A0;
  }
}
