.header
{
    height: 100px;
    justify-content: flex-end;
    z-index: 1;
    background-color: #FFFAFA;
    transition: 1.3s;
    z-index: 10;
    .shortcuts
    {
        width:180px;
        border-bottom-left-radius: 50px;
        background-color:var(--primary-color);
        .icons
        {
            font-size: 56px;
        }
        .fav-ico
        {
            color: #F2557A;
        }
        .cart-ico
        {
            color: #06D6A0;
        }
    }
}

.logo
{
    position: absolute;
    z-index: 1;
    font-size: 56px;
    left: 50%;
    top: 20px;
    z-index: 10;
}