.tab-header-item{
    font-size: 72px;
    color: #073B4C;
}

::ng-deep .mat-tab-labels{
    justify-content: space-around;
    background-color: #F0F5F5;
    flex: 1;
}
::ng-deep .mat-tab-label{
    font-size: 16px;
    opacity: 1 !important;
    color: #073B4C;
}
::ng-deep .mat-tab-header{
    height: auto;
    border-radius: 50px;
}
::ng-deep .mat-tab-label-active{
    color: var(--primary-color);
}

.mat-tab-group{
    padding: 0px 10% 0px 10%;
}

:host{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}