/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
@import './assets/styles/variables';
/* Provide sufficient contrast against white background */

*
{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
body
{
  height: 100%;
}
html
{
  height: 100%;
}

main
{
  padding-left: 100px;
  height: calc(100% - 100px);
  background-color: #FFFAFA;
  padding-top: 2px;
  overflow-x: hidden;
}

.flex
{
  display: flex;
}
.flex-column
{
  flex-direction: column;
}
.justify-center
{
  justify-content: center;
}
.justify-evenly
{
  justify-content: space-evenly;
}
.align-center
{ 
  align-items: center;
}
*
{
  font-family: 'Ubuntu', sans-serif;
}
.text-input
{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  width: 380px;
  height: 60px;
  font-size: 30px;
  text-align: center;
}

.h-100
{
  height: 100%;
}

.align-end
{
  align-items: flex-end;
}

.justify-self-center
{
  justify-self: center;
}

.main-w-100
{
  width: calc(100% - 100px);
}

.pointer
{
  cursor: pointer;
}

.primary-color
{
  color: #118AB2;
}

app-login{
  width: 100%;
}

.button{
  background-color:#118AB2;
  border-radius: 50px;
}

.material-icons{
  user-select: none;
}