/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
@import './assets/styles/variables';
/* Provide sufficient contrast against white background */

:root {
  --primary-color: #18A9E0;
  --secondary-color: #092E3A;
  --buy-color: #06D6A0;
  --fav-color: #F2557A;
  --stars-color: #FFD166;
  --text-color: #303030;
  --input-text-color: #666666;
  --input-color: #F0F5F5;
  --card-color: #FFFFFF;
  --background-color: #F0F5F5;
}


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.btn-primary {
  color: var(--card-color);
  background-color: var(--primary-color);

  &:hover {
    opacity: 0.8;
  }
}

.btn-secondary {
  color: var(--primary-color);
  background-color: transparent;
  border-color: var(--primary-color);

  &:hover {
    opacity: 0.8;
  }
}

.btn-tertiary {
  color: var(--secondary-color);
  background-color: transparent;

  &:hover {
    opacity: 0.8;
  }
}

.btn-padding-lg {
  padding: 16px 0px 16px 0px;
}

.btn-padding-sm {
  padding: 8px 0px 8px 0px;
}

main {
  background-color: #FFFAFA;
  overflow-x: hidden;
  height: 100vh;
  flex-direction: column;
  width: calc(100% - 220px);
  overflow-y: auto;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 1024px) {
    width: 100%;
  }

}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.h-100 {
  height: 100%;
}

.w-100{
  width: 100%;
}

.align-end {
  align-items: flex-end;
}

.justify-self-center {
  justify-self: center;
}

.pointer {
  cursor: pointer;
}

.justify-between {
  justify-content: space-between;
}

router-outlet + * {
  width: 100%;
  max-width: 1364px;
  flex: 1;
  @media only screen and (max-width: 1024px) {
    max-width: calc(100% - 32px);
  }
}

.s-14 {
  font-size: 14px !important;
}

.s-16 {
  font-size: 16px !important;
}

.s-24 {
  font-size: 24px !important;
}

.s-32 {
  font-size: 32px !important;
}

.s-40{
  font-size: 40px !important;
}

.title-1 {
  font: bold 32px Ubuntu !important;
  color: var(--primary-color);
}

.title-2 {
  font: bold 24px Ubuntu !important;
  color: var(--primary-color);
}

.title-3 {
  font: bold 16px Ubuntu !important;
  color: var(--secondary-color);
}

.title-4 {
  font: 16px Ubuntu !important;
  color: var(--secondary-color);
}

.input-text {
  font: 16px Roboto !important;
  color: var(--input-text-color);
}

.normal-text {
  font: 14px Roboto !important;
  color: var(--text-color);
}

.input-bg {
  border-radius: 8px;
  background-color: var(--input-color);
  padding: 16px;
}

body{
  display: flex;
  max-width: 100vw;
}