/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.flex
{
  display: flex;
}
.flex-column
{
  flex-direction: column;
}
.justify-center
{
  justify-content: center;
}
.align-center
{ 
  align-items: center;
}
*
{
  font-family: 'Ubuntu', sans-serif;
}
.text-input
{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  width: 380px;
  height: 60px;
  font-size: 30px;
  text-align: center;
}

.tema-market-place-1-hex { color: #073B4C; }
.tema-market-place-2-hex { color: #118AB2; }
.tema-market-place-3-hex { color: #06D6A0; }
.tema-market-place-4-hex { color: #FFD166; }
.tema-market-place-5-hex { color: #F2557A; }