:host{
    display: flex;
    width: 100%;
    height: calc(100vh - 172px);
    align-items: center;
    padding: 100px 20px;
    flex-direction: column;
    margin-left: -35px;
}

.register{
    display: flex;
    width: 500px;
    justify-content: space-between;
    button{
        border-radius: 50px;
        background-color: #118AB2;
        color: white;
        font-size: 36px;
        border: none;
        padding: 4px 10px;
    }
    margin-bottom: 50px;
}

.form{
    align-items: baseline;
    position: relative;
    justify-content: space-between;
    .input{
        width: 300px;
        color: #656565;
        background-color: #FFFFFF;
        border-radius: 15px;
        border: 1px solid #CCCCCC;
        font-size: 28px;
        width: 550px;
        text-align: center;
        margin-bottom: 25px;
    }
    label{
        margin-bottom: 0px !important;
        display: flex;
        align-items: center;
        margin-right: 10px;
        font-size: 28px;
        color: #656565;
    }
    .nascimento-input{
        width: 250px;
        color: #656565;
        background-color: #FFFFFF;
        border-radius: 15px;
        border: 1px solid #CCCCCC;
        text-align: center;
        font-size: 28px;
        text-align: center;
    }
}

.checkpromo{
    margin-right: 10px;
    margin-left: 10px;
}

.submit-button{
    margin-top: 30px;
    width: calc(100% - 200px);
    border-radius: 50px;
    background-color: #118AB2;
    color: white;
    font-size: 36px;
    border: none;
    align-self: center;
}