<div class="register">
  <button>Trocar E-mail</button>
  <button>Trocar senha</button>
</div>  

<div>
  <div class="flex form">
    <label for="name">Nome:</label>
    <input id="name" class="input">
  
  </div>
  <div class="flex form">
    <label for="name">E-mail:</label>
    <input id="name" class="input">
  
  </div>
  <div class="flex form">
    <label for="name">CPF:</label>
    <input id="name" class="input">
  
  </div>
  <div class="flex form">
    <label for="name">Nascimento:</label>
    <input id="name" type="date" class="nascimento-input">
    <div class="flex justify-center align-center">
      <input id="emailpromo" type="checkbox" class="checkpromo">
      <label for="emailpromo">E-mail promocional</label>
    </div>
  </div>
  <div class="flex justify-center">
    <button type="submit" class="submit-button">Salvar Alterações</button>
  </div>

</div>
