product-card{
    margin-bottom: 20px;
    ::ng-deep .product-name{
        color: #073B4C !important;
    }
}
.category-body{
    padding: 30px 10px;
    flex-wrap: wrap;
    align-items: center;
    .category-column{
        display: flex;
        justify-content: center;
    }
    .category-title{
        font-size: 60px;
        color: #118AB2;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
}