.category-body{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 325px);
    gap: 16px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    padding-bottom: 16px;
    @media screen and (max-width:1024px) {
        grid-template-columns: repeat(auto-fit, 164px);
    }
}

.category-title {
    margin: 32px 0;
    text-align: center;
    text-transform: capitalize;
}

:host{
    min-height: 100vh;
}