
.image-display
{
    display: flex;
    justify-content: center;
    max-height: 430px;
    position: relative;
    img
    {
        width: calc(100vw - 220px);
        object-fit: cover;
    }
    .navegation-icon
    {
        position: absolute;
        top: 50%;
        font-size: 48px;
        color: var(--primary-color);
    }
    .left
    {
        left: 0%;
    }
    .right
    {
        right: 0%;
    }
}
search-bar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 220px;
}

@media screen and (max-width: 1024px) {
    .image-display img {
        width: 100vw;
    }
    search-bar {
        position: static;
    } 
}