<footer *ngIf="isFooterEnabled">
    <div class="info-div">
        <h3 class="title-3"><i class="fas fa-info-circle"></i>Informações Institucionais</h3>
        <ul>
            <li class="title-4">Troca e Devolução</li>
            <li class="title-4">Privacidade</li>
            <li class="title-4">Pagamento</li>
            <li class="title-4">Entrega</li>
        </ul>
    </div>
    <div class="footer-email">
        <p class="title-4">Envie seu e-mail para receba nossas ofertas!</p>
        <div class="icon-and-input">
            <i class="s-24 icon-input fas fa-envelope"></i>
            <input class="input-text input-bg email-subscribe" type="text" name="email-marketing" placeholder="E-mail">
            <button class="input-btn" type="submit"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
    <div class="flex section">
        <div>
            <h3 class="title-3">Contato</h3>
            <ul>
                <li>(xx) xxxx-xxxx</li>
                <li>contato.loja@email.com</li>
            </ul>
        </div>
        <div class="social">
            <h3 class="title-3">Redes Sociais</h3>
            <span>
                <i class="s-32 fab fa-facebook pointer"></i>
                <i class="s-32 fab fa-instagram pointer"></i>
                <i class="s-32 fab fa-whatsapp pointer"></i>
            </span>
        </div>
    </div>
</footer>