.lateral-nav {
  background-color: var(--primary-color);
  width: 220px;
  height: 100vh;
  order: 1;
  @media only screen and (max-width: 1024px) {
   display: none;  
  }

  .icon {
    height: 100px;
    margin-right: 10px;

    .search {
      font-size: 60px;
      color: white;
    }
  }

  .text-zone {
    p {
      font-size: 24px;
      line-height: 1em;
      overflow-wrap: normal;
      word-wrap: normal;
      hyphens: none;
      color: white;
      min-width: fit-content;
      white-space: nowrap;
      margin: 0;
      font-weight: 300;
    }
  }

  .find-item {
    width: 100%;
    margin-bottom: 70px;
  }

  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.icon-zone {
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
  }
}

.register {
  font-size: 16px !important;
  a {
    color: white;
    text-decoration: underline;

    &:hover {
      font-weight: 500;
    }
  }
}

.text-zone {
  padding: 8px 0px;
}