.main-body{
    width: 100%;
    // display: grid;
    // grid-template-columns: repeat(12,auto);
    // column-gap: 16px;
    // justify-content: center;
    display: flex;
    align-items: center;
}
