.header
{
    height: 100px;
    position: absolute;
    margin-left: -100px;
    justify-content: flex-end;
    .logo
    {
        position: absolute;
        font-size: 56px;
        left: 50%;
    }

    .shortcuts
    {
        background-color: $tema-2;
    }
}