:host {
    display: flex;
    align-items: center;
    width: calc(100vw - 220px);
    height: 64px;
    justify-content: center;
    background:  transparent linear-gradient(180deg, #0000004D 0%, #00000000 100%) 0% 0% no-repeat padding-box;;
    
    input {
        width: 628px;
        padding: 16px 16px 16px 56px;
        border-radius: 8px;
        border: 0;
        background-color: var(--input-color);
    }
    button {
        z-index: 1;
        background: none;
        border: 0;
        margin-right: -40px;
        color: var(--secondary-color);
        cursor: pointer;
    }
    @media  screen and ( max-width: 1024px) {
        width: 100%;
        background: none;
        input {
            width: calc(100vw - 72px);
        }
    }
}