:host {
    align-items: center;
    height: 64px;
    justify-content: center; 
    display: flex;
    input {
        width: 588px;
        padding: 16px 56px;
        border-radius: 8px;
        border: 0;
        background-color: var(--input-color);
        @media  screen and ( max-width: 1024px) {
            width: calc(100vw - 72px);
        } 
    }
    button {
        z-index: 1;
        background: none;
        border: 0;
        margin-right: -40px;
        color: var(--secondary-color);
        cursor: pointer;
    }
}