<div class="flex w-100 h-100 justify-evenly body">

  <div class="flex section">
    <h1 class="primary-color">Registrar</h1>
    <form class="justify-between form-body">
      <input placeholder="E-mail" type="email">
      <input placeholder="Senha" type="password">
      <input placeholder="Confirmar senha" type="password">
      <input placeholder="CPF" type="number">
      <input placeholder="Primeiro Nome" type="text">
      <input placeholder="Sobrenome" type="text">
      <div class="flex w-100 justify-center align-center user-terms">
        <input type='checkbox' class="checkbox"> Eu aceito os termos de uso.
      </div>
      <button type="submit" class="button">
        Registrar
      </button>
    </form>
  </div>

  <div class="flex section">
    <h1 class="primary-color">Entrar</h1>
    <form class="form-body">
      <input placeholder="E-mail">
      <input placeholder="Senha" type="password">
      <div class="flex w-100 justify-center align-center forgot">
        Esqueci minha&nbsp;<a class="forgot-text primary-color">senha</a>&nbsp;ou&nbsp;<a class="forgot-text primary-color">e-mail</a>
      </div>
      <button type="submit" class="button">
        Entrar
      </button>
      <div class="or">
        <p>OU</p>
        <div class="line"></div>
      </div>
      <button class="google-button">
        Entrar com o Google
      </button>
      <button class="facebook-button">
        Entrar com o Facebook
      </button>
    </form>
  </div>
</div>