.card-body{
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    background: var(--card-color);
    border-radius: 8px;
    align-items: center;
    position: relative;
    box-shadow: 0 1px 3px #00000029;
    cursor: pointer;
    color: var(--secondary-color);
    .product-name{
        margin-top: 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        color: var(--secondary-color);
    }
    .product-price{
        line-height: 19px;
    }
    &:hover{
       opacity: 0.9;    
    }
    .fav{
        position: absolute;
        color: var(--fav-color);
        left: 8px;
        top: 8px;
        font-size: 24px;
    }
    img {
        object-fit: contain;
        border-radius: 8.5px 8.5px 0 0;
    }
    rating-stars {
        margin-top: -28px;
        font-size: 16px;
    }
}

.category {
    img {
        width: 329px;
        height: 329px;
    }
    .fav {
        display: none;
    }
    .product-name {
        font-size: 24px;
        line-height: 28px;
    }
    @media screen and (max-width: 1024px) {
        img {
            width: 164px;
            height: 164px; 
        }
        .product-name {
            font-size: 16px;
            line-height: 18px;
        }       
    }
}

.product {
    img {
        height: 214px;
        width: 214px;
    }
    .product-name {
        font-size: 16px;
        line-height: 18px;
        max-width: 200px;
    }
    @media screen and (max-width: 1024px) {
        img {
            width: 164px;
            height: 164px; 
        }    
    }
}