.card-body{
    width: 280px;
    height: 330px;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    background-color: white;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    margin-top: 2px;
    position: relative;
    .product-name{
        color: #118AB2;
        font-size: 18px;
    }
    .product-price{
        font-size: 28px;
    }
    cursor: pointer;

    &:hover{
        box-shadow: 3px 1px 7px 1px #EBEBEB;    
    }
    .fav{
        position: absolute;
        color: #118AB2;
        left: 15px;
        font-size: 36px;
    }
}