<div class="flex flex-column lateral-navigation align-center" [ngClass]="selectedSideNavigationStyle">
  <div class="flex find-item">
    <div class="flex align-center justify-center">
      <input class="text-input" placeholder="O que você procura?">
    </div>
    <div class="icon flex justify-center align-center">
      <i class="material-icons search" (click)="sideNavToggle()">search</i>
    </div>
  </div>
  <div *ngFor="let item of categories" class="flex icon-zone">
    <div *ngIf="item.type=='image'" class="icon flex align-center justify-center">
      <svg-icon class="svg-icon" key={{item.icon}} color="white" fontSize={{item.size}}></svg-icon>
    </div>
    <div class="text-zone flex align-center">
      <p>{{item.name}}</p>
    </div>
  </div>
  <div>
    <p>entre ou registre-se</p>
  </div>
</div>

<i class="material-icons md-48 lateral-icon" (click)="sideNavToggle()" [ngClass]="arrowStyle">keyboard_arrow_right</i>