a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lateral-navigation
{
  background-color:#118AB2;
  width: 100px;
  height: 100vh;
  position: absolute;
  top: 0px;
  transition: 2s;
  .icon
  {
    width: 100px;
    height: 100px;
    min-width: 100px;
    .search
    {
      font-size: 60px;
      color: white;
    }
  }
  .text-zone
  {
    p
    {
      font-size: 48px;
      line-height: 1em;
      overflow-wrap: normal;
      word-wrap: normal;
      hyphens: none;
      color: white;
      min-width: fit-content;
      white-space: nowrap;
      margin: 0;
      font-weight: 300;
    }
  }
  .find-item
  {
    width: 100%;
    justify-content: flex-end;
  }
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.lateral-navigation-open
{
  width: 500px;
}

.lateral-icon
{
  position: absolute;
  left: 100px;
  top: 0px;
  font-size: 80px;
  transition: 2s;
  color:#0074AD;
  &:hover
  {
    text-shadow: 0 5px 5px black;
  }
}

.lateral-icon-open
{
  left: 500px;
  transform: rotateY(3.142rad);
}

.svg-icon
{
  height: auto; 
}

.icon-zone
{
  width: 100%;
  &:hover
  {
    background-color: #073B4C;
    cursor: pointer;
  }
}

.register
{
  font-size: 38px !important;
  a
  {
    color: white;
    text-decoration: underline;
    &:hover
    {
      font-weight: 500;
    }
  }
}