<div class="w-100 prateleira-body">
  <h3 class="section-title flex w-100 title-2">
    {{sectionTitle}}
  </h3>
  <div class="products" (mousewheel)="moveByWheel($event)">
    <button class="button-nav" (click)="nextItem(false)"><i class="fas fa-arrow-circle-left pointer left s-40 navegation-icon"></i></button>
    <button class="button-nav" (click)="nextItem(true)"><i class="fas fa-arrow-circle-right pointer right s-40 navegation-icon"></i></button>
    <div class="w-100 flex prateleira-list" #prateleiraList>
      <ng-container *ngFor="let product of mockProductList">
        <product-card [product]="product"></product-card>
      </ng-container>
    </div>
  </div>
</div>