.section-title
{
    font-weight: bold;
    margin-bottom: 30px;
}

.left
{
    left: 0%;
}
.right
{
    right: 0%;
}

.navegation-icon
{
    position: absolute;
    top: 50%;
    font-size: 48px;
    color: #118AB2;
}

.products{
    position: relative;
    width: 100%;
    display: flex;
    padding: 0px 40px;
    flex-direction: row;
    overflow: hidden;
}

.prateleira-list{
    overflow: hidden;
}

.prateleira-body{
    display: flex;
    flex-direction: column;
}

product-card{
    margin-left: 50px;
}
product-card :last-child{
    margin-left: 0px;
}

.prateleira-full{
    flex-wrap: wrap;
}
product-card{
    margin-bottom: 20px;
}