.section-title
{
    font-weight: bold;
    margin: 8px 0;
}

.left
{
    left: -20px;
}
.right
{
    right: -20px;
}
.button-nav{
    border: none;
    background-color: transparent;
    border-radius: 0;
}
.navegation-icon
{
    position: absolute;
    top: 113px;
    font-size: 40px;
    z-index: 1;
    color: var(--primary-color);
    filter: drop-shadow(0 1px 3px #00000029);
}

.products{
    position: relative;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-self: center;
}

.prateleira-list{
    overflow: hidden;
}

.prateleira-body{
    display: flex;
    flex-direction: column;
}

product-card{
    margin: 0 8px 16px 8px;
}

.prateleira-full{
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .button-nav {
        display: none;
    }
    .products {
        width: 100%;
    }
}

.invisible{
    visibility: hidden;
}